@import '../../style/variables';
@import '../../style/mixins';

.weekly_forecast {
  display: flex;
  flex-direction: column;
  @include section_block;
  h2 {
    @include section_header;
  }
  .list {
    flex: 1 1 auto;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    .list_item {
      margin: 6px;
      text-align: center;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr;
      align-items: center;
      border-bottom: $border;
      &:last-child {
        border: none;
      }
      h3 {
        @include subsection_header;
      }
      .weather {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      span {
        color: $text-color-minor;
        font-size: .9em;
      }
      img {
        font-size: 0.5em;
        text-align: center;
        object-fit: contain;
      }
    }
  }
}
