@import '../../style/variables';

.search_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .input_block {
    position: relative;
    flex: 1 1 auto;
    input {
      padding: 8px;
      width: 100%;
      font-size: inherit;
      color: inherit;
      background-color: transparent;
      border: none;
      border-radius: 20px;
      outline: 2px solid $text-color-major;
      transition: outline-color 500ms;
      &:focus {
        outline-color: $text-color-minor;
      }
    }
    label {
      position: absolute;
      display: inline;
      background-color: $bg-color-mojor;
      top: 0;
      left: 0;
      translate: 8px 8px;
      transition: translate 500ms, scale 500ms, color 500ms;
    }
    input:focus + label {
      padding-inline: 5px;
      color: $text-color-minor;
      translate: 8px -11px;
      scale: 0.8;
    }
    .error {
      outline: 2px solid $error-color;
      &:focus {
        outline: 2px solid $error-color;
      }
    }
    .error + label {
      color: $error-color;
    }
    .error:focus + label {
      color: $error-color;
    }
  }
  button {
    margin-left: 0.5em;
    padding: 8px;
    font-size: inherit;
    color: $text-color-minor;
    border-radius: 20px;
    background-color: $bg-color-minor;
  }
}
