@import '../../style/mixins';

.weather {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
  @include for-size(tablet-portrait) {
    grid-template-columns: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    @include for-size(tablet-portrait) {
      padding: 0;
    }
    & section:first-child {
      flex: 1 1 auto;
    }
  }
  aside {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    @include for-size(tablet-portrait) {
      padding: 0;
    }
  }
}
