@import '../../style/variables';
@import '../../style/mixins';

.air_conditions {
  @include section_block;
  h2 {
    @include section_header;
  }
  .grid {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    @include for-size(tablet-portrait) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include for-size(phone) {
      grid-template-columns: repeat(2, 1fr);
    }
    .grid_item {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(2, auto);
      grid-gap: 0.8em;
      svg {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        font-size: 0.8em;
        color: $text-color-minor;
      }
      h3 {
        @include subsection_header;
      }
      p {
        font-size: 1.5em;
      }
    }
  }
}
