/** @format */
@import './variables';

@mixin section_block {
  padding: 8px;
  margin-top: 8px;
  width: 100%;
  border-radius: 20px;
  background-color: $bg-color-minor;
}

@mixin section_header {
  margin: 0.2em 1em;
  font-size: 1.3em;
  color: $text-color-minor;
}
@mixin subsection_header {
  font-size: 0.8em;
  color: $text-color-minor;
}
