@import '../../style/variables';
@import '../../style/mixins';

.daily_forecast {
  @include section_block;
  h3 {
    @include section_header;
  }
  .list_container {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    .list {
      width: 288%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .list_item {
        flex: 1 1 auto;
        padding: 15px 5px;
        width: 70px;
        min-height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: $border;
        &:last-child {
          border: none;
        }
        h3 {
          @include subsection_header;
        }

        img {
          flex: 1 1 auto;
          width: 100%;
          font-size: 0.5em;
          text-align: center;
          object-fit: contain;
        }
      }
    }
  }
}
