/** @format */

@import './style/variables';
@import './style/mixins';

.App {
  padding: 1em;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color-major;
  background-color: $bg-color-app;
  @include for-size(tablet-portrait) {
    padding: 0;
  }
  .container {
    overflow: hidden;
    padding: 15px;
    max-width: 1200px;
    border-radius: 30px;
    background-color: $bg-color-mojor;

    @include for-size(tablet-portrait) {
      width: 100%;
      border-radius: 0;
    }
  }
}
